.sum ul li{
    list-style: none;
}
.menu_H{
    position: absolute;
    top:0;
    right:0;
}
.menu_H ul li{
    display: inline-block;
   font-variant: small-caps;
   font-size: 18px;
   margin-right: 20px;
   padding:10px 0;
   color:white;
}

.menu_H ul{
    Border-bottom-left-radius: 30px;
   background-color: orangered;
   margin: 0;
   box-shadow: -20 0 5px gray;
}
.menu_Hi ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    bottom: 0;
    width:100%;
    padding-left: 0px;
    background-color: orangered;
    margin-bottom: 0;
    text-align: left;
    

}
.menu_Hi ul li{
    font-variant: small-caps;
    font-size: 20px;
    padding:10px 0;
    color:white;
    width:75%;
    

}
.menu_Text{
    position:absolute;
    bottom: 60px;
    left:15px;
}
.sum{
    background-image: url(https://fpteducationgroup.files.wordpress.com/2016/03/fpt-polytechnic-dc3a0nh-c6b0u-c491c3a3i-te1bb9bi-1-5-te1bbb7-c491e1bb93ng-cho-sinh-vic3aan-chuye1bb83n-trc6b0e1bb9dng-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    padding: 0;
    margin: 0;
}
.menu_Text h3{
    color:white;
    font-variant:small-caps ;
    border-bottom: 3px dotted orangered;
    padding-bottom: 10px;
    font-size: 35px;
    text-shadow: 5px -5px 5px orangered;
}
.menu_Text p{
    font-variant: small-caps;
    letter-spacing: 5px;
    font-size: 20px;
    color: white;
}
.menu_Hi ul li.vietnamese{
    text-align: right;
}
.menu_Hi ul li.english{
    text-align: right;
}