body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background-image: url();
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 23%;
    text-align: center;
}

.col img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

button {
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: capitalize;
    background-color: green;
    color: white;
    padding: 10px 30px;
    box-shadow: 2px 3px 6px lightgray;
}

@media screen and (max-width:768px) {
    .container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:768px) {
    .col {
        width: 48%;
    }
}

@media screen and (max-width : 480px) {
    .col {
        width: 100%;
    }
}