body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   height:60px;
}
.container_logo img{
    width: 144px;
    height: 100px;
    
}
.banner img{
    width: 100%;
}
.container_phone ,.container_eamil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_phone a ,.container_eamil a{
    text-decoration: none;
    color:white; 
    
}
.container_phone img , .container_eamil img{
    padding-left: 10px;
    width: 20px;
    height: 22px;
}
.menu ul{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 2px;
    align-items: center;
}
.menu ul li{
    list-style: none;
    padding: 15px 5px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding:15px;
    font-weight: 500;
}
.menu{
    background-color: white;
}
.menu ul li a:hover{
    background-color:rgb(255, 191, 73);
    color:white;
    border-bottom: 3px solid #3f9f48;
    transition: 1s;

}
.menu ul li a.active{
    background-color:rgb(255, 191, 73);
    color:white;
    border-bottom: 3px solid #3f9f48;

}
/* .form-contact{
    max-width: 1600px;
    margin: auto    ;
} */
.row{
    display: flex;
    justify-content: center;
    align-items:center ;

}
.contact-tilte h1::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: #f7aa05;
    position: absolute;
    bottom: -271px;
    left: 105px;
}

input ,textarea{
    padding: 15px 20px;
    width: 100%;
    margin: 20px 0 ;border-radius: 10px;
}
.btnType_1{
    width: 50%;
    padding: 10px;
    font-size: 18px;
    position: relative;
    left: 215px ;
    margin: 30px 0;
    background-color:#3f9f48;
    color:white;
    border: 1px solid white;
    
}
.btnType_1:hover{
    background-color: #f7aa05;
    
}
.formTtin , .quickContact{
    padding: 10px 60px;
}
.formTtin{
    width: 50%;
}
.quick img{
    width: 56px;
    height: 56px;
}
.quick{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quick-content{
    padding:10px;
}
.quick-content a{
    text-decoration: none;
    color: black;
}
.footer{
    text-align: center;
    background-color: rgb(255, 186, 57);

}
.menu_footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_footer{
    height: 90px;
}
.logo_footer img{
    width: 150px;
    height: 130px;
}
.menu_footer ul li{
    list-style: none;
    padding : 10px 25px; 
}
.menu_footer ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:black
}
.icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.icon-footer img{
    width: 40px;
    height: 36px;
    padding: 0 10px;
}
.last_footer{
    text-align: center  ;
    color: aliceblue;
    background-color: black;    
}
.last_footer p{
    margin: 0;
    padding: 20px;
}
.modalkk {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000000000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000000000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    /* top: 368px ; */
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }

    to {
        top: 300px;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

button {
    padding: 15px 20px;
    position: relative;
    left: 70%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: #fefefe;
}

.buttom_huy {
    background-color: red;
    margin: 10px 5px;}
    .button_call{
        background-color: #3f9f48;
        margin: 10px 5px;
    }