body{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 100%;
    margin: 0 auto
}
.container img{
    width : 100%;
    height : 500px;
}
.container>nav>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    color:white;
    padding :20 10px;
} 
.container>nav>ul>li{
    display:inline-block;
    list-style: none;
}
.container>nav>ul{
    line-height: 60px;
    text-align: center;
    background-color: orangered;
    margin : 0 ;
}
.container>article{
    float : left;
    width : 75%;
    background-color: lightgray;
    min-height:400px;
}
.container>aside{
    width : 25%;
    float : right ; 
    background-color: lightgray;
    min-height: 400px;
    padding:0;
    margin: 0;
 
}
.container>footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    clear: both;
    font-variant:small-caps ;
}
.container>nav>ul>li>a:hover{
    color:yellow;
    text-decoration: underline;
}
