
 a{
    font-variant : small-caps;
     color : blue ;
    text-decoration: none;
     }
a:visited{
        color : green;
    }
a:hover{
        color : red;
        text-decoration: underline;
    }
    
