nav{
   background-color: black;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
nav a.active{
    background-color: green;
    
}
@media screen and (max-width:768px){
    nav a{
        width: 100%;
    }
}
