body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
.menu ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    display: inline;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    line-height: 40px;
}
.banner{
    background-image: url(https://cdn.thuvienphapluat.vn/uploads/khoinghiep/uploads/image/2021/09/30/115413990.jpg);
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1{
    font-size: 35px;
    text-align: center;
}
.menu{
    background-color:chocolate;
}
.title h1{
    text-transform: capitalize;
    text-align: center;
    line-height: 40px;
}
.text{
    text-align: center;
}
.text_title h1{
    text-align: center;
    text-transform: capitalize;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.images img{
    width : 30%;
}
.photos img{
    margin-top: 30px;
    width : 200px;
    padding-right: 30px;
    margin: 0;
    padding-left: 35px;
}
.text_footer h3{
    text-transform: uppercase;
}
.text_footer h3{
    text-transform: uppercase;
    margin: 0;
}
.text_footer img{
    width: 3%;
    margin-top: 20px;
    padding-right: 10px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.title{
    background-color: green;
}
